video { 
    position: fixed;
    top: 30%;
    left: 25%;
    min-width: 45%;
    min-height: 35%;
    width: 300px;
    height: 300px;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
	opacity:0.8;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
video#vid { 
    position: fixed;
    top: 30%;
    left: 75%;
    min-width: 45%;
    min-height: 35%;
    width: 300px;
    height: 300px;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}
video#vid1 { 
    position: fixed;
    top: 75%;
    left: 75%;
    min-width: 45%;
    min-height: 35%;
    width: 300px;
    height: 300px;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}

video#vid2 { 
    position: fixed;
    top: 75%;
    left: 25%;
    min-width: 45%;
    min-height: 35%;
    width: 300px;
    height: 300px;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}